tabela,th,td {
    border: 2px solid black;
    border-radius: 20px;
    border-style: dotted;
    border-color: blue;
    text-align: center;
}

th,td {
    background-color: #96D4D4;
    /* padding: 20px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

table {
    border-spacing: 30px;
}

tr:nth-child(even) {
    background-color: #D6EEEE
}